/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #a09f9b;
  background-size: cover;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.text_color {
  color: #761a25;
}

.box_1 {
	background-color: #d9d9d9;
	border-radius: 25px;
	margin: 10px 500px;
	padding-bottom: 2px;
}

.box_2 {
	background-color: #d9d9d9;
  color: #761a25;
	border-radius: 25px;
	padding: 10px 75px 10px;
	float: left;
}

.box_3 {
	background-color: #d9d9d9;
	border-radius: 25px;
	padding: 40px 40px 40px;
  margin-left: 25px;
  margin-right: 1px;
	float: left;
}

.box_4 {
	background-color: #d9d9d9;
  color: #761a25;
	border-radius: 25px;
	padding: 10px 75px 135px;
	margin-right: 25px;
  margin-left: 1px;
	float: left;
}
.smaller_image {
	width: 250px;
	height: 250px;
}

.banner {
	height: 60px;
	width: 500px;
}

.header_1 {
	top: 0;
	right: 0;
	left: 0;
	z-index:4;
	color: #fff;
	font-weight: bolder;
	font-family: Georgia, serif;
	font-size: larger;
	position: relative;
	height: 60px;
	box-shadow: 0 0 5px rgb( 16 20 24 / 30%);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

.container {
	max-width: 80.063em;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    font-size: larger;
}


.icon_footer {
	margin: 10px;
	padding: 500px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	background: transparent;
	fill: #2A9D8F;
}

.centered {
	text-align: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}
.float_both {
	float: both;
}

.extra_padding {
	padding: 20px;
}

.extra_margin {
  margin-top: 200px;
}

.extra_padding {
  padding: 20px;
}